* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	width: 100vw;
	height: 100vh;

	font-size: 0;
	font-family: sans-serif;
}

body > * {
	display: inline-block;
	vertical-align: top;
}

textarea {
	resize: none;
	outline: none;
	overflow: auto;
}

#sandbox {
	width: 80vw;
	height: 100vh;
}

#sidebar {
	position: relative;
	width: 20vw;
	height: 100vh;

	color: white;
	font-size: 0pt;
	background-color: #212121;

	overflow-x: hidden;
}

#sidebar > h1 {
	font-size: 4vw;
	font-weight: 400;
	font-family: 'Pompiere', sans-serif;

	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 1vw;
}

#sidebar > h2 {
	font-size: 3vh;
	font-color: #F5F5F5;
	font-variant: small-caps;

	margin-top: 2vh;
	margin-bottom: 1vh;
	margin-left: 3vw;
}

#sidebar button {
	display: block;
	width: calc(100% - 2vw);

	border: none;
}

#sidebar button:focus {
	outline: 0;
}

#settings a, #sidebar button {
	display: inline-block;
	cursor: pointer;
	
	padding-top: 1vh;
	padding-bottom: 1vh;
	margin-left: 1vw;
	margin-right: 1vw;

	color: #212121;
	background-color: #CFD8DC;

	font-size: 14pt;
	text-align: center;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#settings a, #settings a:link, #settings a:visited {
	width: calc(50% - 1.5vw);

	margin-top: 1vw;

	text-decoration: none;
	color: black;
}

#settings a:first-child {
	margin-right: 0;
}

#settings a:hover, #settings a:active, #sidebar button:hover {
	background-color: #37474F;
	color: #FAFAFA;
}

#cell-select {
	column-count: auto;
	font-size: 0;

	margin-bottom: 1vw;
	margin-left: 1vw;
	margin-right: 1vw;
	width: calc(100% - 2vw);

	background-color: #F5F5F5;
}

#cell-select > div {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;

	width: 50%;
	height: 7.5vh;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#cell-select > div > input[type="radio"] {
	display: none;
}

#cell-select > div > input[type="radio"] + label {
	display: block;

	width: 100%;
	height: 100%;
	padding-left: 1.5vw;
	padding-top: 1vw;
	padding-right: 1vw;
	padding-bottom: 1vw;

	color: gray;
	background-color: none;

	font-size: 3vh;
	font-weight: bold;

	opacity: 0.8;
}

#cell-select > div > input[type="radio"] + label:hover, #cell-select > div > input[type="radio"] + label:focus {
	color: white;
	background-color: darkGray;

	opacity: 1;
}

#cell-select > div > input[type="radio"]:checked + label {
	color: black;
	background-color: lightGray;

	padding-left: 0.75vw;
	padding-top: 0.25vw;
	padding-right: 0.25vw;
	padding-bottom: 0.25vw;
	border: 0.75vw solid white;

	opacity: 1;
}

#cell-select > div > input[type="radio"]:checked + label:hover, #cell-select > div > input[type="radio"]:checked + label:focus {
	color: black;
	background-color: darkGray;

	opacity: 1;
}

#cell-select > div > input[type="radio"] + label.light {
	color: #F5F5F5;
	border-color: #F5F5F5;
}

#cell-select > div > input[type="radio"]:checked + label.light:hover, #cell-select > div > input[type="radio"]:checked + label.light:focus {
	color: #E0E0E0;
	border-color: #E0E0E0;
}

#cell-select > div > input[type="radio"] + label.dark {
	color: #212121;
	border-color: #212121;
}

#cell-select > div > input[type="radio"]:checked + label.dark:hover, #cell-select > div > input[type="radio"]:checked + label.dark:focus {
	color: #616161;
	border-color: #616161;
}

#file-input {
	display: none;
}

#config {
	width: calc(100% - 2vw);
	max-height: 30vh;

	margin-bottom: 1vw;
	margin-left: 1vw;
	margin-right: 1vw;

	color: #F5F5F5;
	background-color: #424242;
}

#sidebar > #update {
	margin-bottom: 1vw;
}

@media screen and (max-aspect-ratio: 1/1) {
	body > * {
		display: block;
	}

	#sandbox {
		width: 100vw;
		height: 80vh;
	}

	#sidebar {
		width: 100vw;
		height: 20vh;
	}

	#sidebar > h1, #sidebar > h2, #config, #sidebar > #update {
		display: none;
	}

	#cell-select {
		display: inline-block;
		width: 78vw;
		height: calc(20vh - 2vw);

		margin-top: 1vw;
		margin-right: 0;
		margin-bottom: 0;
	}

	#cell-select > div {
		width: 19.5vw;
		height: calc(10vh - 1vw);
	}

	#sidebar > #settings {
		display: inline-block;
		vertical-align: top;
		margin-top: 1vw;
	}

	#settings a, #settings a:link, #settings a:visited {
		width: 8.99vw;
	}

	#sidebar button {
		width: 19vw;
	}
}

@media screen and (max-aspect-ratio: 1/1) and (max-width: 400px) {
	#cell-select {
		display: inline-block;
		width: 58vw;
		height: calc(20vh - 2vw);

		margin-top: 1vw;
		margin-right: 0;
		margin-bottom: 0;
	}

	#cell-select > div {
		width: 19.33vw;
	}

	#sidebar > #settings {
		display: inline-block;
		vertical-align: top;
		margin-top: 1vw;
	}

	#settings a, #settings a:link, #settings a:visited {
		width: 18.99vw;
	}

	#sidebar button {
		width: 39vw;
	}

	#cell-select > div > input[type="radio"] + label {
		padding-left: 3.5vw;
		padding-top: 3vw;
		padding-right: 3vw;
		padding-bottom: 3vw;
	}

	#cell-select > div > input[type="radio"]:checked + label {
		padding-left: 0.75vw;
		padding-top: 0.25vw;
		padding-right: 0.25vw;
		padding-bottom: 0.25vw;
		border: 2.75vw solid white;
	}
}